<header class="header" id="site-header">

  <div class="page-title">
    <div class="control-block">
      <div class="author-page author vcard inline-items">
        <a href="#" class="author-name fn">
          <div class="author-title">CORONA VÍRUS <small>(COVID-19)</small></div>
          <div style="font-size: 10px;color:#fd7e62">Informações de Araras e Região</div>
        </a>
      </div>
    </div>
  </div>

  <div class="header-content-wrapper">
    <a routerLink="noticias" class="link-find-friend span_menu">ÚLTIMAS NOTÍCIAS</a>
    <div class="control-block control-block-casos">
      <!-- <div class="control-icon more has-items">
        <span style="color:#fff">TEMPO REAL</span>
        <div class="more-dropdown more-with-triangle triangle-top-center">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">SIGA OS CASOS EM ARARAS</h6>
          </div>

          <div class="mCustomScrollbar ps ps--theme_default ps--active-y" data-mcs-theme="dark">
            <ul class="notification-list friend-requests">
              <li>
                <div class="notification-event">
                  <a href="#" class="h6 notification-friend">Painel Oficial em Araras</a>
                  <span class="chat-message-item">Notícias de Araras</span>
                </div>
                <span class="notification-icon">
                  <a href="https://noticiasdeararas.sp.gov.br" target="_blank" class="accept-request">
                    <span class="icon-add without-text">
                      Acesse aqui
                    </span>
                  </a>
                </span>
              </li>
            </ul>

          </div>
        </div>
      </div> -->
      <div class="author-page author vcard inline-items more">
        <div class="author-thumb">
          <span style="color:#fff" class="span_menu">TEMPO REAL</span>
          <div class="more-dropdown more-with-triangle">
            <div class="mCustomScrollbar ps ps--theme_default ps--active-y" data-mcs-theme="dark"
              data-ps-id="9b19357b-3ccd-a60f-fcdf-fadc563ab76e">
              <div class="ui-block-title ui-block-title-small">
                <h6 class="title">Siga os casos em TEMPO REAL</h6>
              </div>

              <ul class="account-settings" style="text-align: center;">
                <li>
                  <a routerLink="painel">
                    <span>Painel em ARARAS</span>
                  </a>
                </li>
                <li>
                  <a href="https://bing.com/covid" target="_blank">
                    <span>Painel no MUNDO</span>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="links" class="link-find-friend span_menu">LINKS ÚTEIS</a>
    <a routerLink="colaboradores" class="link-find-friend span_menu">COLABORADORES</a>
  </div>

  <!-- 
		<div class="control-block">
			<div class="control-icon more has-items">
				<form action="https://goo.gl/qGW3eT" >
					<button type="submit" class="btn btn-primary btn-lg full-width">Baixe o aplicativo<div class="ripple-container"></div></button>
				</form>
			</div>
    </div>
  </div> -->
  
  <header class="header header-responsive" id="site-header-responsive">
      <div class="header-content-wrapper">
        <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="#principal" role="tab" data-toggle="tab" aria-selected="true" (click)="toggleCollapsed()">
              <div class="control-icon has-items">
                <span class="material-icons" style="color:white" >
                  menu
                  </span>
              </div>
            <!-- <div class="ripple-container"></div> -->
            </a>
          </li>
        </ul>
      </div>
    
  <!-- Tab panes -->
  <div class="tab-content tab-content-responsive">
    <div class="tab-pane" id="principal" role="tabpanel" [ngClass]="{'active': collapsed}">
      <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
        <div class="ui-block-title ui-block-title-small">
          <h6 class="title">Navegação</h6>
        </div>
        <ul class="account-settings">
          <li>
            <a routerLink="noticias" class="link-find-friend span_menu" (click)="toggleCollapsed()">ÚLTIMAS NOTÍCIAS</a>
          </li>
          <li>
            <a routerLink="links" class="link-find-friend span_menu" (click)="toggleCollapsed()">LINKS ÚTEIS</a>
          </li>
          <li>
            <a routerLink="colaboradores" class="link-find-friend span_menu" (click)="toggleCollapsed()">COLABORADORES</a>
          </li>
        </ul>

        <div class="ui-block-title ui-block-title-small">
          <h6 class="title">Siga os casos em TEMPO REAL</h6>
        </div>
        <ul class="account-settings">
          <li>
            <a routerLink="painel" (click)="toggleCollapsed()">
              <span>Casos em ARARAS</span>
            </a>
          </li>
          <li>
            <a href="https://bing.com/covid" target="_blank" (click)="toggleCollapsed()">
              <span>Casos no MUNDO</span>
            </a>
          </li>
        </ul>
    </div>
    </div>
  </div>
  <!-- ... end  Tab panes -->

    </header>

</header>

<div class="header-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <div class="top-header-thumb">
            <img src="assets/img/araras.jpg" alt="nature">
            <div class="top-header-author">
              <!-- <div class="author-thumb">
								<img src="assets/img/brasao.jpg" alt="author">
							</div> -->
              <div class="author-content">
                <a href="#" class="h3 author-name">CORONA VÍRUS <small>(COVID-19)</small></a>
                <div class="country">INFORMAÇÕES DE ARARAS E REGIÃO</div>
              </div>
            </div>
          </div>
          <div class="profile-section">
            <div class="control-block-button">
              <a href="https://araras.sp.gov.br/coronavirus" target="_blank" class="btn btn-control bg-primary">
                <svg style="width:20px;height:20px" class="olymp-computer-icon">
                  <use xlink:href="assets/icons/icons.svg#olymp-computer-icon"></use>
                </svg>
              </a>

              <a href="https://www.saude.gov.br/images/mp4/2020/marco/18/Filme-PREVENCAO-30-segundos.mp4"
                target="_blank" class="btn btn-control bg-purple">
                <svg style="width:20px;height:20px" class="olymp-play-icon">
                  <use xlink:href="assets/icons/icons.svg#olymp-play-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>