<div class="container">
	<div class="row">
    <div class="col-xl-2 col-xl-2 col-lg-2 hidden-md"></div>
		<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title" style="display:grid">
          <h5 class="title">Mande uma mensagem para nós!</h5>
          <p style="margin-top:5px">Para sugestões, críticas, novidades, envie uma mensagem. Todo apoio é sempre bem-vindo =D!</p>
        </div>
				<div class="ui-block-content">
					<form>
						<div class="row">
							<div class="col col-12">
								<div class="form-group label-floating">
									<label class="control-label">Nome</label>
									<input class="form-control" placeholder="" type="text">
                  <span class="material-input"></span>
                </div>
					
								<div class="form-group label-floating">
									<label class="control-label">E-mail</label>
									<input class="form-control" placeholder="" type="email" >
                  <span class="material-input"></span>
                </div>
                  
                <div class="form-group">
									<textarea class="form-control" placeholder="Mensagem"></textarea>
                  <span class="material-input"></span>
                </div>
              </div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<a href="#" class="btn btn-primary btn-lg full-width">Enviar Mensagem</a>
							</div>
						</div>
					</form>			

				</div>
			</div>
		</div>
	</div>
</div>