<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-sm-12 col-xs-12">
      <!-- <div id="newsfeed-items-grid" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"> -->
        <div id="newsfeed-items-grid">

        <div class="ui-block" *ngFor="let news of globals.itens" style="webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
				box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);">
          <article class="hentry post">

            <div class="post__author author vcard inline-items">

              <div class="author-date">
                <a class="h4 post__author-name fn" href="{{news.link}}" target="_blank">
                  {{news.title}}
                </a>
                <div class="post__date">
                  <time class="published" datetime="">
                    {{news.pubDate | date: 'EEEE, dd \'de\' MMMM \'às\' HH:mm' }} 
                  </time>
                </div>
              </div>

            </div>

            <p>
              {{ (news.description[0].length > 300)?(news.description[0] | slice:0:300)+'...':(news.description[0]) }}
            </p>
            <div class="source">
              {{news.source}}
            </div>
          </article>
          
          
        </div>

      </div>
      <div *ngIf="!globals.finished" class="text-center" style="padding:40px">
        <img src="assets/img/loading.gif" style="width:100px" alt="Carregando...">
      </div>
    </div>
  </div>
</div>