<div class="container">
	<div class="row">
    <div class="col-xl-1 col-lg-1 hidden-md"></div>
		<div class="col col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-content">
						<div class="row">
							<div class="col col-sm-12 text-center">
                <img src="https://araras.sp.gov.br/coronavirus/images/fotoSecom/fotoDados_Secom.jpg" alt="Casos Corona Vírus em Araras">
              </div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>